@font-face {
  font-family: 'agave';
  src: url('~assets/fonts/agave/agave.woff2') format('woff2'), url('~assets/fonts/agave/agave.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('~assets/fonts/Montserrat/subset-Montserrat-Medium.woff2') format('woff2'), url('~assets/fonts/Montserrat/subset-Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('~assets/fonts/Montserrat/subset-Montserrat-MediumItalic.woff2') format('woff2'), url('~assets/fonts/Montserrat/subset-Montserrat-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('~assets/fonts/Montserrat/subset-Montserrat-Bold.woff2') format('woff2'), url('~assets/fonts/Montserrat/subset-Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('~assets/fonts/Montserrat/subset-Montserrat-BoldItalic.woff2') format('woff2'), url('~assets/fonts/Montserrat/subset-Montserrat-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('~assets/fonts/Montserrat/subset-Montserrat-SemiBold.woff2') format('woff2'), url('~assets/fonts/Montserrat/subset-Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('~assets/fonts/Montserrat/subset-Montserrat-SemiBoldItalic.woff2') format('woff2'), url('~assets/fonts/Montserrat/subset-Montserrat-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}
